body [class*="col-"] {
  height: 200px;
  background-color: inherit;
  border: 1px solid red;
}

.navbar a, .navbar-brand, .navbar-toggle {
  color: white !important;
  font-family: 'Montserrat', sans-serif;
  line-height: 75px !important;
  font-size: 2em;
}

.navbar li a {
  font-size: 1.2em;
}
.navbar_bg_petrol {
  background-color: #2C3E50;
  text-transform: uppercase;
  margin: 0;
  border: 0;
  border-radius: 0;
  height: 100px;
}

.bg_petrol {
  background-color: #2C3E50;
  text-align: center;
}

.bg_green {
  background-color: #1ABC9C;
  color: white;
  text-align: center;
}

.bg_lightmusk {
  background-color: #3A546D;
  color: white;
  text-align: center;
}

.jumbotron {
  background-color: #1ABC9C;
  text-transform: uppercase;
}

.jumbotron img {
  width: 240px;
  margin-top: 140px;
  margin-bottom: 20px;
}

h1,h2,h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

.container_strict {
  max-width: 70%;
  margin: auto;
}

.box_form {
  border: none;
}

footer {
  text-align: center;
}


@media screen and (max-width:768px) {
  .xs_display_none {
    display: none;
  }
  .xs_display_block {
    display: block;
  }
}
