body [class*="col-"] {
  height: 200px;
  background-color: inherit;
  border: 1px solid red;
}

.logo_title {
  text-align: left;
}

.display_none {
  display: none;
}

.bg_petrol {
  background-color: #2C3E50;
  color: white;
}

.bg_green {
  background-color: #1ABC9C;
  color: white;
  text-align: center;
}

.bg_dark {
  background-color: #444444;
  color: white;
}

div[role="navigation"] {
  height: 100px;
  color: white;
  line-height: 100px;
  text-transform: uppercase;
}

.jumbotron {
  background-color: #1ABC9C;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.container_strict {
  max-width: 70%;
  margin: auto;
}

.box_form {
  border: none;
}

footer {
  text-align: center;
}


@media screen and (max-width:768px) {
  .xs_display_none {
    display: none;
  }
  .xs_display_block {
    display: block;
  }
}
