body [class*="col-"] {
  height: 200px;
  background-color: inherit;
  border: 1px solid red;
}

.display_none {
  display: none;
}

.bg_petrol {
  background-color: #2C3E50;
}

.bg_green {
  background-color: #1ABC9C;
  color: white;
  text-align: center;
}

div[role="nav_bar"] {
  height: 100px;
  color: white;
  line-height: 100px;
  text-transform: uppercase;
}

.jumbotron {
  background-color: #1ABC9C;
  text-transform: uppercase;
}

.portfolio h2 {
  text-align: center;
  text-transform: uppercase;
}

.about h2 {
  text-align: center;
  text-transform: uppercase;
}

.container_strict {
  max-width: 70%;
  margin: auto;
}


@media screen and (max-width:768px) {
  .xs_display_none {
    display: none;
  }
  .xs_display_block {
    display: block;
  }
}
